/* Styles spécifiques pour la section hero */
.hero {
    margin-top: 90px;
    min-height: 600px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://img.freepik.com/premium-photo/best-building-contractor-block-shot-young-man-using-smartphone-while-working-construction-site_590464-22487.jpg?w=996');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
}

@media (max-height: 700px) {
    .hero {
        height: auto;
        padding: 6rem 0;
    }
}
